[Unit]
Description=Daily Kolodahs constructed image mirror

[Timer]
OnCalendar=*-*-* 05:20:00
RandomizedDelaySec=20m
Persistent=true
Unit=kolodahs-sync@constructed-mirror.service

[Install]
WantedBy=timers.target
