[Unit]
Description=Kolodahs horizontal artwork sync every four hours

[Timer]
OnCalendar=*-*-* 00,04,08,12,16,20:55:00
RandomizedDelaySec=10m
Persistent=true
Unit=kolodahs-sync@horizontal-art.service

[Install]
WantedBy=timers.target
