[Unit]
Description=Renew the api.kolodahearthstone.com TLS certificate
After=network-online.target nginx.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/certbot renew --cert-name api.kolodahearthstone.com --quiet --deploy-hook "/usr/bin/systemctl reload nginx"
