[Unit]
Description=Daily Hearthstone patch link database refresh

[Timer]
OnCalendar=*-*-* 10:20:00 Europe/Warsaw
Persistent=true
RandomizedDelaySec=20m
Unit=hs-data-api-docker-refresh-patches.service

[Install]
WantedBy=timers.target
